### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/scribble/**/out/
*.iml
/.idea/
/bin/
/src/test/ReadmeExampleCode.java

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/scribble/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/scribble/TestPrintout.java
/doc/
/lib/
